@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;;
}
h1,h3{
    color: hsl(223, 47%, 23%);
}
p{
    color: hsl(224, 23%, 55%);
    font-size: 0.8rem;
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("C:/Users/shevindi/order-summary-component-main/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0rem  -6rem;


}
#container {
    width: 25rem;
    max-width: 75%;
    background-color: hsl(225, 100%, 98%);
    overflow: hidden;
    border-radius: 5%;
}
#container img{
    width: 100%;
}
.order-container{
    padding: 2rem;
}
#header h1{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}
#header {
    padding: auto;
    margin: 0 auto;
    width: 15rem;
    padding-bottom: 2rem;
}
#header p {
    text-align: center;
    
}
#order-plan {
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 95%);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;

}
.info{
    width: 7rem;
    margin-right: 5rem;
    
}
#order-plan h3{
    font-size: 1rem;
}
#order-plan img{
    width:  2.2rem;
    margin-right: 1rem;
}
#order-plan a{
    font-size: 0.9rem;
    font-weight: 700;
}
#order-plan a:hover{
    color: rgba(193, 94, 229, 0.69);
}
.btn-payment{
    border: none;
    background: hsl(245, 75%, 52%);
    width: 21rem;
    height: 2.5rem;
    margin: 2rem 0;
    color: hsl(225, 100%, 95%);
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 12px 1px #4e44db4d;
    cursor: pointer;

}
.btn-payment :hover{
    background: rgba(193, 94, 229, 0.69);
}
.cancel-div{
    margin: 0 auto;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-size: 0.9rem;
    font-weight: 700;
    
}
.cancel-div a:hover{
    color: hsl(223, 47%, 23%);
}
